<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Word Guess Game</title>
    <link href="./main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>Word Guess</h2>
    
    <div id="app">
        <div>
            <div id="triesPlusWord">
                 <section id="tries" class="flex-item">
                    <template>
                        <div id="triesCounter">{{ numOfTries }}</div>
                        <div><button @click="startGame">Start New Game</button></div>
                    </template>
                </section>
                <section id="word" class="flex-item">
                    <span class="letterBox" v-for="letter in guessWord">
                        {{ letter }}&nbsp;
                    </span>
                </section>
            </div>
            <section>
                <input type="text" maxlength="1" size="1" v-model="guessLetter" @keyup.enter="tryLetter" v-if="isGameRunning">
                <span v-if="!isGameRunning">{{ finishMessage }}</span>
            </section>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>