body {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

button {
    background-color: #33ccff;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-radius: 6%;
    padding: 1.5em;
    font-size: 0.5em;
}

#triesCounter {
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    font-size: 1em;
    margin: auto;
    padding: 1em;
    width: 30px;
}

input {
    font-size: 1em;
}

section {
    margin: 0.2em;
}

#triesPlusWord {
    display: -webkit-flex;
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
}

#tries {

}

#word {
}

.flex-item {
    background-color: cornflowerblue;
}

.letterBox {
    border: solid 1px #ccc;
    font-size: 1.25em;
    text-align: center;
    //padding: 0.5em;
}
